.App {
  text-align: center;
  padding: 20px 0;
}


.app__form {
  padding: 20px 0; 
  position:fixed;
  bottom:0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
  padding: 0 20px !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0 !important;
}

.container__message {
  padding-bottom: 100px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto
}